:root {
  --clr-primary-1: #f4ce14;
  --clr-primary-2: hsl(161, 13%, 33%);
  --clr-white: hsla(0, 0%, 100%, 0.95);
  --clr-grey-1: rgb(51, 51, 51);
  --clr-grey-2: hsl(150, 6%, 93%);
  --clr-primary-3: hsl(19, 78%, 69%);

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --fixed-width: 620px;
  --width: 61.6%;
  --width-mob: 93%;
  --ff-1: 'Karla', sans-serif;
  --ff-2: 'Markazi Text', sans-serif;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  background: var(--clr-white);
  font-size: 1rem;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-2);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  display: none;
  position: absolute;
}
h2 {
  font-size: 4rem;
}
h2,
h3 {
  font-weight: 700;
  line-height: 0.7;
}
h2 span,
h3 span {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.7;
}
h2 span {
  color: var(--clr-white);
}
h3 {
  font-size: 1.25rem;
  color: var(--clr-grey-1);
}
h4 {
  margin-bottom: 4.5rem;
  font-size: 2rem;
  color: var(--clr-primary-1);
  font-weight: 500;
  text-align: center;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
.img {
  display: block;
  width: 100%;
  object-fit: cover;

  max-height: 355px;
}
p {
  font-family: var(--ff-1);
  font-size: 1.25rem;
  font-weight: 400;
}

.text-center {
  text-align: center;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-align-top {
  align-items: flex-start;
}
.flex-stretch {
  align-items: stretch;
}
.flex-align-center {
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center {
  width: var(--width-mob);
  margin: 0 auto;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-2);
  animation: spinner 0.6s linear infinite;
}
.btn {
  max-width: 9.25rem;
  text-transform: capitalize;
  text-align: center;
  background: var(--clr-primary-1);
  color: var(--clr-grey-1);
  padding: 0.4rem 0.6rem;
  letter-spacing: normal;
  display: inline-block;
  font-family: var(--ff-1);
  font-weight: 700;
  transition: var(--transition);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  border-color: transparent;
}
.btn:hover {
  transform: scale(1.1);
  color: var(--clr-white);
  background-color: var(--clr-grey-1);
}
.header a:hover,
.footer a:hover {
  color: var(--clr-primary-1);
}
.active {
  border-bottom: 2px solid var(--clr-primary-1);
}

/* Genaral sections properties */
.hero-section,
.testimonial-section {
  background-color: var(--clr-primary-2);
}

.header,
.menu {
  padding: 1rem 0;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  max-height: 80px;
  background-color: var(--clr-white);
  z-index: 1;
  border-bottom: 4px solid var(--clr-primary-1);
}
.header a {
  color: var(--clr-grey-1);
}
.header-container {
  position: relative;
}
.burger {
  display: flex;
  position: absolute;
}
.svg-hover {
  fill: var(--clr-grey-1);
  color: var(--clr-grey-1);
  z-index: 5;
}
.svg-hover:hover {
  fill: var(--clr-primary-1);
  color: var(--clr-primary-1);
}
.basket {
  position: absolute;
  right: 0;
}
.basket,
.order-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.basket:hover {
  transition: var(--transition);
}
.logo {
  width: 202px;
  display: inline-block;
  transform: translateX(calc(50vw - 120px));
}
.header-nav {
  display: none;
  position: absolute;
  width: 65%;
}
.header-nav .navbar,
.side-nav .navbar {
  font-size: 1rem;
  text-transform: capitalize;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}
.header-nav .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.side-menu {
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.side-menu:hover {
  fill: var(--clr-primary-1);
}
.transition {
  transition: var(--transition);
}
.sidebar {
  width: 35%;
  position: absolute;
  text-align: center;
  left: -100%;
  top: 80px;
  background-color: var(--clr-white);
  transition: var(--transition);
}
.sidebar.active {
  position: fixed;
  left: 0;
  display: block;
  transition: var(--transition);
}
.side-nav .navbar {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
/* main */
main {
  position: relative;
  top: 80px;
}

/* Hero */
.hero-section {
  color: var(--clr-primary-1);
  padding: 1.5rem 0 4rem;
}
.hero-section p {
  color: var(--clr-white);
  max-width: min(65ch, 60%);
  font-size: 1.15rem;
}
.hero-article {
  width: 100%;
  position: relative;
  gap: 1rem;
  line-height: 140%;
}
.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  max-height: 145%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.hero-img img {
  position: relative;
}
@media screen and (min-width: 786px) {
  .hero-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 27%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .header-nav {
    display: block;
    position: relative;
  }
  .center {
    width: var(--width);
  }
  .burger {
    display: none;
    position: absolute;
  }
  .logo {
    width: 23%;
    transform: translateX(0);
  }
  .side-menu {
    display: none;
    position: absolute;
  }
  .basket {
    display: none;
    position: absolute;
  }
  h2 {
    margin-top: 2.5rem;
  }
  .btn {
    max-width: 12.5rem;
    padding: 1rem 1.5rem;
  }
  /* hero */
  .hero-section {
    padding: 1.5rem 0 1.5rem;
  }
  .hero-article {
    gap: 2.7rem;
    line-height: 140%;
  }
  .hero-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 42.3%;
    max-height: 355px;
    overflow: hidden;
  }
  .hero-img img {
    aspect-ratio: 0;
  }
  .hero-section p {
    max-width: min(65ch, 45%);
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .hero-img {
    position: relative;
  }
  .hero-section {
    padding: 1.5rem 0 1.5rem;
  }
  .hero-section p {
    min-height: 10rem;
  }
}
/* Menu */
.menu-container {
  justify-content: center;
  gap: 2rem;
}

/* order  variants */
.order-menu-container {
  overflow: scroll;
}
.order-menu-container::-webkit-scrollbar {
  display: none;
}
.btn-order {
  cursor: pointer;
  margin: 0.5rem;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  font-weight: 700;
  border-radius: var(--radius);
  border: none;
  white-space: nowrap;
}
.btn-order:focus {
  background-color: var(--clr-primary-2);
  color: var(--clr-white);
}
/*  cart-items */
.cart-item-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.cart-item {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 80% 21%;
  grid-template-rows: 25% 1fr;
  border-bottom: 1px solid var(--clr-grey-2);
  background-color: transparent;
  border-radius: 0rem;
  overflow: hidden;
}
.cart-item:hover,
.rate-card:hover {
  transform: scale(1.05);
  transition: var(--transition);
}
.cart-item:hover::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clr-primary-1);
  opacity: 0.03;
  z-index: -1;
}
.cart-item button {
  display: none;
  position: absolute;
}
.menu-descreption {
  grid-column: 1/2;
  grid-row: 2/3;
}
.menu-descreption > P {
  max-width: 31ch;
  margin-bottom: 2rem;
  font-size: 1rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cart-item > P:nth-of-type(1) {
  font-size: 1rem;
  grid-column: 1/2;
  grid-row: 2/3;
  position: relative;
  top: 75%;
  color: var(--clr-primary-3);
}
h4 {
  grid-column: 1 / 2;
}
.cart-item > div:nth-of-type(1) {
  grid-column: 2/-1;
  grid-row: 2 / 3;
  overflow: hidden;
}
.cart-item > div img {
  aspect-ratio: 1/1;
}
.menu-article {
  align-items: center;
}
@media screen and (max-width: 1280px) and (min-width: 601px) {
  .menu-container {
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .cart-item {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
  }
  .menu-article button {
    display: none;
    position: absolute;
  }
}
@media screen and (min-width: 600px) {
  .order-menu-container {
    width: 70%;
    overflow: visible;
  }

  .cart-item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .cart-item {
    width: 100%;
    display: grid;
    padding-bottom: 0;
    border-bottom: none;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr auto;
    background-color: var(--clr-grey-2);
    border-radius: 1rem;

    /* box-shadow */
    /* -webkit-box-shadow: 0px 0px 67px -13px rgba(244, 206, 20, 0.65);
    -moz-box-shadow: 0px 0px 67px -13px rgba(244, 206, 20, 0.65);
    box-shadow: 0px 0px 67px -13px rgba(244, 206, 20, 0.65); */

    -webkit-box-shadow: 0px 0px 28px -19px rgba(73, 95, 88, 0.65);
    -moz-box-shadow: 0px 0px 28px -19px rgba(73, 95, 88, 0.65);
    box-shadow: 0px 0px 28px -19px rgba(73, 95, 88, 0.65);
  }

  .cart-item > div:nth-of-type(1) {
    height: fit-content;
    grid-column: 1/-1;
    grid-row: 1 / 2;
    overflow: hidden;
  }
  .cart-item > div img {
    height: 185px;
  }
  h5 {
    grid-column: 1 / 2;
    grid-row: 2/3;
    font-size: 1.25rem;
    margin: 1rem 0 1rem 1.5rem;
  }
  .cart-item > P:nth-of-type(1) {
    margin: 1rem 1rem 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    grid-column: 2/-1;
    grid-row: 2/3;
    position: relative;
    top: 0;
    color: var(--clr-primary-3);
    text-align: end;
  }

  .menu-descreption {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
  .menu-descreption > P {
    max-width: 31ch;
    margin: 0 1rem 0 1.5rem;
    font-size: 1rem;
    min-height: 120px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 120%;
  }
  .cart-item button {
    text-align: left;
    margin: 1rem;
    z-index: 0;
  }

  .cart-item button {
    display: block;
    position: relative;
  }
  h3 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 999px) {
  h5 {
    font-size: 1.5rem;
  }
  .cart-item-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  h3 {
    font-size: 4rem;
  }
}

/* Testimonial */
.testimonial-section {
  padding: 7.5rem 0;
}
.testimonial-container {
  display: grid;
  grid-template-columns: repeat(4, 21.25%);
  gap: 5%;
}
.rate-card {
  padding: 1.25rem;
  background-color: var(--clr-white);
  border-radius: var(--radius);
}
.stars {
  width: 8rem;
  margin-bottom: 1.25rem;
}
.rate-card .user-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.rate-card article {
  width: 8rem;
}
.user-data {
  margin-left: 0.5rem;
  overflow-x: hidden;
}
h6 {
  white-space: nowrap;
}
.rate-card p {
  font-size: 0.75rem;
}
.rate-desc {
  margin-top: 1rem;
}

@media screen and (max-width: 1279px) {
  .center {
    width: var(--width-mob);
  }
}
@media screen and (max-width: 999px) {
  .rate-card:last-of-type {
    display: none;
    position: absolute;
  }
  .testimonial-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 5%;
  }
}
@media screen and (max-width: 600px) {
  .testimonial-container {
    display: grid;
    grid-template-columns: auto;
    gap: 5%;
  }
  .stars,
  .rate-card article {
    width: 8rem;
  }
}
@media screen and (max-width: 400px) {
  .testimonial-section {
    display: none;
    position: absolute;
  }
}

/* about us */
.about {
  padding: 2rem 0;
}
.about-container {
  gap: 5%;
}
.about-article {
  max-width: 50%;
  gap: 2.5rem;
}
.aboutImg-container {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.about-img-right {
  grid-column: 3 / spn 6;
  grid-row: 1;
}
.about-img-left {
  grid-row: 1;
  grid-column: 1 / span 4;
  padding-top: 40%;
}
.about-img-left img,
.about-img-right img {
  height: 338px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.about-article span > a {
  color: var(--clr-primary-1);
}
@media screen and (max-width: 520px) {
  .about-article p:nth-of-type(2) {
    display: none;
    position: absolute;
  }
}
@media screen and (max-width: 768px) {
  .about-img-left {
    grid-column: 1/-1;
    grid-row: 1;
    padding-top: 0;
  }
  .about-img-right {
    display: none;
    position: absolute;
  }

  .about-img-left img {
    height: 100%;
  }
  .about-article {
    max-width: 50%;
    gap: 1rem;
  }
  .about-article > p {
    font-size: 1rem;
    line-height: normal;
  }
}
/* Footer */
.footer {
  background-color: var(--clr-primary-2);
  position: relative;
  top: 80px;
  padding: 6rem 0;
}
.footer a {
  color: var(--clr-white);
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-container > div:not(.third-col) {
  width: 80%;
}
.footer-logo {
  background-color: var(--clr-white);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
}
.socials {
  grid: 1/2;
  margin-left: 0.5rem;
}
.socials-list {
  margin-top: 1rem;
  gap: 0.2rem;
}
.social-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-link i {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  border-radius: 50%;
  border: 1px solid var(--clr-primary-1);
}
.social-link:hover i {
  transform: scale(1.05);
  border-color: var(--clr-white);
  background-color: var(--clr-primary-1);
}
.social-link .icon-1 {
  background: url(./assets/svg/facebook.svg) no-repeat, var(--clr-primary-2);
  background-position: center center;
}
.social-link .icon-2 {
  background: url(./assets/svg/twitter.svg) no-repeat, var(--clr-primary-2);
  background-position: center center;
}
.social-link .icon-3 {
  background: url(./assets/svg/insta.svg) no-repeat, var(--clr-primary-2);
  background-position: center center;
}
.social-link .icon-4 {
  background: url(./assets/svg/youtube.svg) no-repeat, var(--clr-primary-2);
  background-position: center center;
}
.footer-nav .navbar {
  text-transform: capitalize;
  grid-column: 2/3;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-nav a {
  color: var(--clr-white);
}
footer .form {
  margin-bottom: 1rem;
  width: 100%;
}
footer .form label {
  font-size: 1.25rem;
  color: var(--clr-primary-1);
  margin: 0 0.5rem 0.5rem;
}
footer input {
  outline: none;
  border: none;
  color: var(--clr-primary-2);
  font-weight: 700;
  background-color: var(--clr-white);
}
footer input[type='email'] {
  width: 65%;

  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 1rem 0 0 1rem;
}
footer input[type='submit'] {
  background-color: var(--clr-grey-2);
  width: 25%;
  border-radius: 0 1rem 1rem 0;
  padding: 0.5rem 0 0.5rem;
}
footer input[type='submit']:hover {
  color: var(--clr-primary-1);
}
footer input[type='submit']:active {
  background-color: var(--clr-primary-2);
}
footer input[type='submit']:disabled {
  background-color: var(--clr-grey-2);
  color: var(--clr-white);
  transition: var(--transition);
}
input::placeholder {
  font-weight: 500;
  opacity: 0.5;
}
input:invalid {
  border: 1px solid red;
}

.address > p {
  width: 80%;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-style: italic;
}
.address > p:nth-of-type(1) {
  color: var(--clr-white);
}
.address > p:nth-of-type(2),
.address > p:nth-of-type(3) {
  color: var(--clr-primary-1);
}
@media screen and (max-width: 540px) {
  .footer-nav,
  .social-link span,
  .address {
    display: none;
    position: absolute;
  }
  .footer-container > div:nth-of-type(2) {
    grid-column: 3;
  }
  .footer-container > div:nth-of-type(1) {
    width: 60%;
    grid-column: 1/3;
  }
  .footer-logo {
    position: absolute;
    width: 60%;
    top: 5%;
    left: 20%;
    max-height: 75px;
  }
  .socials-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    position: relative;
    left: 75%;
  }
  .form {
    position: absolute;
    bottom: 0;
    width: 60%;
    left: 25%;
  }
  footer input[type='email'] {
    width: 35%;
  }
  footer input[type='submit'] {
    width: 10%;
  }
}
/* booking section */
.booking {
  color: white;
  padding: 2rem 0;
}

.booking-form {
  background-color: var(--clr-primary-2);
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10%;
}
.booking label {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  display: block;
  color: var(--clr-primary-1);
}
.booking select,
.booking input,
.booking textarea {
  cursor: pointer;
  font-size: 1.25rem;
  font-family: var(--ff-1);
  font-weight: 600;
  color: var(--clr-primary-2);
  width: 100%;
  border-radius: var(--radius);
  border: none;
  outline: none;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
}
.booking textarea {
  resize: none;
}
::-webkit-calendar-picker-indicator {
  filter: opacity(0.8);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--clr-white) url(./assets/icons/icons8-down-32.png) no-repeat;
  background-position-y: center;
  background-size: 1rem 1rem;
  background-position-x: calc(100% - 1.5rem);
  transition: var(--transition);
}
select:focus {
  background: var(--clr-white) url(./assets/icons/icons8-up-32.png) no-repeat;
  background-position-y: center;
  background-size: 1rem 1rem;
  background-position-x: calc(100% - 1.5rem);
  transition: var(--transition);
}
.booking div:nth-of-type(5) {
  grid-column: 1 / -1;
}
.booking .btn {
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .booking label,
  .booking select,
  .booking input,
  .booking textarea {
    font-size: 1rem;
  }
}
/* Utility */
.bg-gradient {
  /* border-gradient */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, var(--clr-primary-1), var(--clr-primary-3))
      border-box;
  border-radius: 1rem;
  border: 1px solid transparent;
}
